table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table tr {
    border-bottom: 1px solid #ededed;
}

table th,
table td {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}